{% load i18n %}{% autoescape off %}
{% blocktranslate %}Вы получили это электронное письмо, потому что запросили сброс пароля для своей учетной записи пользователя по адресу {{ site_name }}.{% endblocktranslate %}

{% translate "Пожалуйста, перейдите на следующую страницу и выберите новый пароль:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Ваше имя пользователя, на случай, если вы забыли:' %} {{ user.get_username }}

{% translate "Спасибо за использование моего сайта!" %}

{% blocktranslate %}{{ site_name }}{% endblocktranslate %}

{% endautoescape %}